.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  font-family: sans-serif;
}

.buttonLinkContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80vw;
}

.buttonLink {
  text-align: center;
  flex-grow: 2;
  height: 3rem;
  background-color: darkslategrey;
  margin: 7.5vw;
  width: 10vw;
  border-radius: 0.5rem;
}

.buttonLink h2 {
  padding: 0 auto;
  margin-top: 0.5rem;
}
